body {
    background-color: blue;
    margin: 0;
    display: block;
}

#main,
#demo {
    text-align: center;
    background-color: white;
    color: blue;
    padding: 5px;
    font-size: 40px;
    width: 50%;
    margin-left: 300px;
    letter-spacing: 10px;
    font-weight: bolder;
}